mixin musicCard(ranking, trackTitle, artist, albumImage, videoId)
  #music-card(data-videoId=videoId)
    .album-cover(style=`background-image: url(${albumImage})`)
    .ranking #{ranking}
    .track-title #{trackTitle}
    .artist #{artist}
    .play-btn
      i.fa-solid.fa-play
