mixin musicCard(ranking, trackTitle, artist, albumImage, videoId,albumImage)
  #music-card(data-videoId=videoId, data-title=trackTitle,data-artist=artist,data-albumImage=albumImage)
    .album-cover(style=`background-image: url(${albumImage})`)
    .ranking #{ranking}
    .track-title #{trackTitle}
    .artist #{artist}
    .play-btn
      i.fa-solid.fa-play
